* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

html,
body,
#app,
.index {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#app,
.index {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #ccc;
    font-weight: 600;
    display: flex;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    width: 100%;
    height: 140px;
    overflow: hidden;
}

.logo-img>img {
    display: block;
    width: 100%;
}

section {
    width: 100%;
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
    padding: 0 15px;
}

.select-card {
    padding: 0 15px;
}

.card-list {
    width: 100%;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    margin: 15px 0;
}

.card-list>li {
    width: 140px;
    height: 86px;
    border-radius: 5px;
    margin-right: 10px;
}

p.select {
    color: #666;
    height: 35px;
    line-height: 35px;
}

.card-list>li>img {
    display: block;
}

::-webkit-scrollbar {
    opacity: 0;
}

.prize-list dl {
    display: flex;
    align-items: center;
}

.prize-list dl dd {
    flex: 1;
    margin-left: 10px;
    display: flex;
}

.left {
    width: 150px;
}

.prize-list dl dd .right {
    width: 102px;
    margin-left: 15px;
    margin-top: 18px;
    display: flex;
    text-align: right;
}

.right>span:not(:nth-child(2)) {
    display: block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 18px;
    color: #666;
    border: 2px solid #666;
    border-radius: 50%;
    font-size: 14px;
    margin: 0 5px;
}

span.num {
    display: block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 18px;
    border: 0;
}

span.opacity {
    opacity: 0;
}

.right>span.active {
    opacity: 1;
}

.use {
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.use>span {
    color: green;
    margin: 0 5px;
    border-bottom: 1px solid green;
}

footer {
    height: 44px;
    display: flex;
    padding: 0 15px;
}

.right-wrap {
    margin-top: 10px;
    flex: 1;
    text-align: center;
}

.right-wrap>p {
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #ccc;
    color: #fff;
    border-radius: 15px;
    margin-left: 162px;
}

.right-wrap>p.back {
    background: green;
}

.back {
    background: green;
}

li.hover {
    border: 3px solid green;
}

.card-list>li {
    position: relative;
}

p.dui {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: green;
    color: #fff;
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 50%;
    z-index: 99;
}

.box {
    width: 100%;
    height: 667px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5)
}

.content {
    width: 100%;
    height: 450px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    border-radius: 10px;
}

.cuo {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 80px;
    text-align: center;
    font-size: 30px;
}

.top {
    position: relative;
    border-bottom: 1px solid #ccc;
}

p.img {
    width: 140px;
    height: 140px;
    overflow: hidden;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -70px;
    background: rgba(0, 0, 0, 0);
    z-index: 99;
}

p.img>img {
    display: block;
    width: 100%;
}

.cont {
    margin-top: 65px;
    margin-left: 20px;
}

.bot {
    margin: 10px;
}

.bot>li {
    margin-top: 6px;
}